In [1]:
import pandas as pd
import math

In [2]:
data = pd.read_csv('stat.csv', low_memory=False)

In [3]:
data.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,Unnamed: 4,Unnamed: 5
0,1,11.50,20.00%,0.0070,NaN,NaN
1,2,0.24,5.10%,0.0033,NaN,NaN
2,3,0.04,24.86%,0.0022,NaN,NaN
3,4,13.81,2.29%,0.0066,NaN,NaN
4,5,19.84,3.47%,0.0020,NaN,NaN

In [4]:
data1 = data
data1['recovery'] = data['Recovery (%)'].apply(lambda x: float(x.rstrip('%')))

In [5]:
data1.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,Unnamed: 4,Unnamed: 5,recovery
0,1,11.50,20.00%,0.0070,NaN,NaN,20.00
1,2,0.24,5.10%,0.0033,NaN,NaN,5.10
2,3,0.04,24.86%,0.0022,NaN,NaN,24.86
3,4,13.81,2.29%,0.0066,NaN,NaN,2.29
4,5,19.84,3.47%,0.0020,NaN,NaN,3.47

In [6]:
data1['exposed'] = data1['Exposure at Default (in lakh Rs.)']

In [7]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer No.                       10000 non-null  int64
 1   Exposure at Default (in lakh Rs.)  10000 non-null  float64
 2   Recovery (%)                       10000 non-null  object
 3   Probability of Default             10000 non-null  float64
 4   Unnamed: 4                         0 non-null      float64
 5   Unnamed: 5                         0 non-null      float64
 6   recovery                           10000 non-null  float64
 7   exposed                            10000 non-null  float64
dtypes: float64(6), int64(1), object(1)
memory usage: 625.1+ KB

In [8]:
data1['loss'] = (100 - data1.recovery) * data1.exposed / 100

In [9]:
data1['expected_loss'] = data1.loss * data1['Probability of Default']

In [10]:
data1.expected_loss.sum()

493.39131440619997

In [11]:
 (1/38*3500) - (37/38* 100)

-5.26315789473685

In [12]:
def combination(n, r):
    return math.factorial(n) // (math.factorial(r) * math.factorial(n - r))

In [13]:
def probablityForDefective(x,total):
    possible = combination(total,x)
    return possible * ((.40)**x) * ((.60)**(total-x))

In [14]:
x =0
count = 0
for y in (0,1,2):
    print(y)
    x= x + probablityForDefective(y, 10)
    count = count + 1
print(x)

0
1
2
0.16728975359999998

In [15]:
import numpy as np

In [16]:
data = [121.92, 133.21, 141.34, 126.23, 175.74]

In [17]:
std_deviation_sample = np.std(data, ddof=1)

In [18]:
print(std_deviation_sample)

21.454952109012037

In [19]:
samples = pd.read_csv('samples.csv')

In [20]:
samples.head()

   Sample No.  Sample Mean
0           1          3.2
1           2          2.6
2           3          2.8
3           4          2.0
4           5          3.0

In [21]:
samples['Sample Mean'].std( ddof=0)

0.4248482081873476

In [22]:
my_array = np.concatenate((np.ones(42), np.zeros(58)))

In [27]:
sd = my_array.std(ddof=1)
print(sd)

0.49604496374885837

In [25]:
my_array.mean()

0.42

In [28]:
rent = pd.read_csv('rent.csv')

In [29]:
rent.head()

   S. No.  Monthly Rent
0       1         44000
1       2         49800
2       3         45400
3       4         40700
4       5         43900

In [39]:
rent.shape

(200, 2)

In [40]:
rent['Monthly Rent'].mean()

45571.0

In [33]:
rent.std(ddof=1)

S. No.            57.879185
Monthly Rent    7457.521851
dtype: float64

In [46]:
sq = math.sqrt(200)
sq

14.142135623730951

In [47]:
x =1.65* (7457.5 / 14.14)

In [45]:
x

870.217468175389

In [48]:
x =2.58* (7457.5 / 14.14)

In [51]:
x =1.96* (7457.5 / 14.14)
print(45571+x, 45571-x)

46604.71287128713 44537.28712871287

In [53]:
from scipy.stats import norm

# Input
mean = 100
std_dev = 10

# Set the cutoff
cutoff = 90

# Calculate the probability using the cumulative distribution function (CDF)
probability_pass = norm.cdf(cutoff, mean, std_dev)

# Round off to two decimal places
probability_pass = round(probability_pass, 2)

# Output
print(probability_pass)

0.16