In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [31]:
samples = pd.read_excel('sample.xlsx', sheet_name=None)
samples

{' 1-sample mean test':     Unnamed: 0  Commute time of employees   Hypothesised Mean Time
 0          NaN                          37                    35.0
 1          NaN                          64                     NaN
 2          NaN                          43                     NaN
 3          NaN                          32                     NaN
 4          NaN                          23                     NaN
 5          NaN                          18                     NaN
 6          NaN                          36                     NaN
 7          NaN                          30                     NaN
 8          NaN                          46                     NaN
 9          NaN                          52                     NaN
 10         NaN                          15                     NaN
 11         NaN                          64                     NaN
 12         NaN                          13                     NaN
 13         NaN                          25                     NaN
 14         NaN                          28                     NaN
 15         NaN                          45                     NaN
 16         NaN                          19                     NaN
 17         NaN                          35                     NaN
 18         NaN                          19                     NaN
 19         NaN                          24                     NaN
 20         NaN                          31                     NaN
 21         NaN                          31                     NaN
 22         NaN                          42                     NaN
 23         NaN                          32                     NaN
 24         NaN                          41                     NaN
 25         NaN                          33                     NaN
 26         NaN                          17                     NaN
 27         NaN                          15                     NaN
 28         NaN                          19                     NaN
 29         NaN                          24                     NaN
 30         NaN                          22                     NaN
 31         NaN                          12                     NaN,
 '2-sample mean test - Paired':     Unnamed: 0  Commute time on Day 1  Commute Time on Day 2
 0          NaN                     27                     23
 1          NaN                     43                     42
 2          NaN                     34                     39
 3          NaN                     24                     23
 4          NaN                     31                     37
 5          NaN                     46                     53
 6          NaN                     44                     44
 7          NaN                     42                     38
 8          NaN                     32                     30
 9          NaN                     49                     50
 10         NaN                     16                     12
 11         NaN                     23                     18
 12         NaN                     18                     24
 13         NaN                     42                     47
 14         NaN                     23                     26
 15         NaN                     53                     54
 16         NaN                     54                     58
 17         NaN                     32                     33
 18         NaN                     30                     34
 19         NaN                     49                     41
 20         NaN                     44                     41
 21         NaN                     38                     32
 22         NaN                     29                     32
 23         NaN                     42                     38
 24         NaN                     38                     31
 25         NaN                     23                     18
 26         NaN                     29                     23
 27         NaN                     19                     19
 28         NaN                     15                     17
 29         NaN                     22                     24
 30         NaN                     39                     43
 31         NaN                     38                     31,
 '2-sample mean test - Unpaired':     Unnamed: 0  Commute time of Team 1  Commute Time of Team 2
 0          NaN                      27                      18
 1          NaN                      43                      27
 2          NaN                      34                      64
 3          NaN                      24                      61
 4          NaN                      31                      13
 5          NaN                      46                      33
 6          NaN                      44                      37
 7          NaN                      42                      44
 8          NaN                      32                      58
 9          NaN                      49                      61
 10         NaN                      16                      21
 11         NaN                      23                      31
 12         NaN                      18                      20
 13         NaN                      42                      56
 14         NaN                      23                      52
 15         NaN                      53                      49
 16         NaN                      54                      56
 17         NaN                      32                      40
 18         NaN                      30                      43
 19         NaN                      49                      42
 20         NaN                      44                      58
 21         NaN                      38                      36
 22         NaN                      29                      34
 23         NaN                      42                      57
 24         NaN                      38                      50
 25         NaN                      23                      24
 26         NaN                      29                      64
 27         NaN                      19                      19
 28         NaN                      15                      35
 29         NaN                      22                      59
 30         NaN                      39                      49
 31         NaN                      38                      29}

In [22]:
sample = samples.get('2-sample mean test - Paired')
print(sample.describe())
print(sample.var())

       Unnamed: 0  Commute time on Day 1  Commute Time on Day 2
count         0.0              32.000000              32.000000
mean          NaN              34.000000              33.593750
std           NaN              11.080352              11.839953
min           NaN              15.000000              12.000000
25%           NaN              23.750000              23.750000
50%           NaN              33.000000              32.500000
75%           NaN              42.250000              41.250000
max           NaN              54.000000              58.000000
Unnamed: 0                      NaN
Commute time on Day 1    122.774194
Commute Time on Day 2    140.184476
dtype: float64

In [11]:
from scipy import stats

In [23]:
t_stat, p_value = stats.ttest_ind(sample['Commute time on Day 1'], sample['Commute Time on Day 2'], equal_var=False)

In [24]:
print(t_stat, p_value)

0.14171787003575112 0.8877643650009104

In [19]:
t_stat1, p_value1 = stats.ttest_rel(sample['Commute time on Day 1'], sample['Commute Time on Day 2'])

In [20]:
print(t_stat1, p_value1)

0.5198926783952246 0.6068313271031527

In [32]:
unpaired = samples.get('2-sample mean test - Unpaired')

In [35]:

t_stat2, p_value2 = stats.ttest_ind(unpaired['Commute time of Team 1'], unpaired['Commute Time of Team 2'], equal_var=False)

In [36]:
print(t_stat2, p_value2)

-2.3489766657621147 0.02235751696827402

In [37]:
samples_prop = pd.read_excel('sample_prop.xlsx', sheet_name=None)

In [39]:
prop_df = samples_prop.get('2-sample proportion test')

In [41]:
prop_df.head()

,Unnamed: 0,Commute time on Day 1,Commute Time on Day 2,Categorical Data for Day 1,Categorical Data for Day 2,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,27,18,0,0,NaN,NaN,NaN
1,NaN,43,27,1,0,NaN,NaN,NaN
2,NaN,34,64,0,1,NaN,XLSTAT 2017.02.43894 - Tests for two proporti...,NaN
3,NaN,24,61,0,1,NaN,Frequency 1: 15,NaN
4,NaN,31,13,0,0,NaN,Sample size 1: 32,NaN

In [47]:
from statsmodels.stats.proportion import proportion_confint

successes_group1 = prop_df['Categorical Data for Day 1'].sum()
successes_group2 = prop_df['Categorical Data for Day 2'].sum()
trials_group1 = prop_df['Categorical Data for Day 1'].count()
trials_group2 = prop_df['Categorical Data for Day 2'].count()
confint_group1 = proportion_confint(successes_group1, trials_group1, alpha=.05)
confint_group2 = proportion_confint(successes_group2, trials_group2, alpha=.05)

In [48]:
print(confint_group1, confint_group2)

(0.2958507084543191, 0.6416492915456808) (0.4572630490265165, 0.7927369509734835)

In [44]:
print(stat_p, p_value_p)

-1.255529641148689 0.20928655478176728